<!DOCTYPE html>
<html lang="en" ng-app="movieSearch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
    href="bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
    href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet"
	href="css/style.css">
    <title>Movie Info -  Front End</title>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body ng-controller="movieController">
    <div class="container">
        <div class="navbar navbar-default navbar-fixed-top">            
            <a class="navbar-brand" href="index.html">Movie Info</a>
        </div>
    </div>
    </br></br></br></br>    
   <!-- <h2><span>{{theTime}}</span></h2>-->
    </br></br></br></br>    
    <div class="container">
        <div class="jumbotron">
                <h3 class="text-center">Search for Any Movie</h3>
                <form id="searchForm">
                    <input type="text" class="form-control" id="searchText" placeholder="Search Movies..." ng-model="searchText"/>
                    <button ng-click="getMovies()" ng-model="searchText">Search Movies</button>
                </form>
                <br/><br/>
                <span> Search.... {{searchText}} </span>
            </div>
        </div>
    </div>
    <hello></hello>
    </br></br></br></br>
    <div class="container">
        <div class="row" id="movies ">
            <h2> List of Movies</h2>
            <div class="col-sm-6">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Movie Title</th>
                        <th>Details</th>
                        <th>Poster</th>
                        <th>View details</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in movieResponse | limitTo:10 | orderBy: item.id">
                    <tr>
                        <td><img ng-src="{{movie_paths[$index]}}"></td>
                        <td>{{item.title | uppercase}}</td>
                        <td>{{item.overview}}</td>
                        <td><button ng-click="getDetails(item.id)">Get Details</button></td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="col-sm-6" ng-if='movieDetails'>                
                    <div id="section-details">
                        <h3>{{movieDetails.title}}</h3>
                        <img ng-src="{{poster_path}}">
                        <p><span><b>Description: </b>{{movieDetails.overview}}</span></br></br>
                           <span><b>Release-Date: </b>{{movieDetails.release_date | date}}</span>
                        </p>
                    </div>
                </p>
            </div>
        </div>
    </div>
</body>
</html>